{
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "eslint:recommended"
    ],
    "rules": {
      "prettier/prettier": "error"
    },
    "env": {
      "mocha": true
    }
}